
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /smit/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /smit/wordpress/index.php [L]
</IfModule>

# END WordPress

## WP Defender - Prevent information disclosure ##

<FilesMatch "\.(md|exe|sh|bak|inc|pot|po|mo|log|sql)$">
Require all denied
</FilesMatch>

<Files robots.txt>
Require all granted
</Files>

<Files ads.txt>
Require all granted
</Files>

## WP Defender - End ##